<footer>
  <p><b>
    <a href="mailto:<mm-posting-addr>">@chat</a>
    <a href="https://lists.mayfirst.org/mailman/private/opensur/" target="_blank">@archive</a>
    <a href="https://lists.mayfirst.org/mailman/admin/opensur/" target="_blank">@admin</a>
  </b></p>
</footer>
