/* Variables */

:root {
  --black: #232321;
  --orange: #ff7363;
  --pink: #ff67a4;
  --sand: #ded6cb;
}

/* Little reset */

* {
  margin: 0;
  padding: 0;
  font-size: 3vw;
}

h1 {
  font-size: 4vw;
}

@media only screen and (min-width: 900px) {
  * {
    font-size: 2vw;
  }

  h1 {
    font-size: 3vw;
  }
}

@media only screen and (min-width: 1200px) {
  * {
    font-size: 1.5vw;
  }

  h1 {
    font-size: 2.5vw;
  }
}

/* Fonts */

@font-face {
  font-family: 'LinuxBiolinumRegular';
  src: url('https://fontlibrary.org/assets/fonts/linux-biolinum/bf09d0a7996862dc34102dc51c500ace/13aef2ccc4e45b7b8f440f0fdb7d3fbc/LinuxBiolinumRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LinuxBiolinumBold';
  src: url('https://fontlibrary.org/assets/fonts/linux-biolinum/bf09d0a7996862dc34102dc51c500ace/105c076bf1f5d6c08445a12e1d4002a8/LinuxBiolinumBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'LinuxBiolinumItalic';
  src: url('https://fontlibrary.org/assets/fonts/linux-biolinum/bf09d0a7996862dc34102dc51c500ace/501d7989a37732d94b022a3bce488282/LinuxBiolinumItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

* {
  font-family: 'LinuxBiolinumRegular';
}

b, strong {
  font-family: 'LinuxBiolinumBold';
}

i, em {
  font-family: 'LinuxBiolinumItalic';
}

/* Main */

body {
  width: 100vw;
  height: 100vh;
  background-color: var(--sand);
  background-image: url(https://gitlab.com/NikaZhenya/opensur/-/raw/no-masters/mailing-list/src/south.svg), url(https://gitlab.com/NikaZhenya/opensur/-/raw/no-masters/mailing-list/src/north.svg);
  background-position: center top, center bottom;
  background-size: 100vw, 100vw;
  background-repeat: no-repeat, no-repeat;
}

@media only screen and (min-width: 900px) {
  body {
    background-size: 75vw, 75vw;
  }
}

@media only screen and (min-width: 1200px) {
  body {
    background-size: 50vw, 50vw;
  }
}

section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#logo {
  display: block;
  margin: auto;
  max-height: 200px;
}

#subscribed {
  width: 30vw;
}

#login {
  margin-top: 1em;
}

/* Forms */

input, select {
  color: var(--black);
  display: block;
  margin: .25em auto;
  padding: .25em;
  border: 2px dotted var(--orange);
}

input:focus {
  outline: 2px solid var(--pink);
}

input[type=submit], select {
  background-color: var(--pink);
  color: var(--sand);
  font-family: 'LinuxBiolinumBold';
  border: none;
  padding: .5em;
}

/* Header */

header {
  margin-bottom: 1em;
}

header h1 {
  color: var(--pink);
  text-align: center;
}

header p {
  color: var(--orange);
  text-align: center;
}

/* Footer */

footer {
  margin-top: 1em;
}

footer p {
  text-align: center;
}

footer a {
  color: var(--orange);
  padding: .25em;
}
